
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Do stuff from home</title>
</head>
<body>
<div>
      Do stuff // integrated authorization in controller`s action
</div>
</body>
</html>