
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
<div>
    <h1>Server Home page</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h1>User is authenticated</h1>
    }
    else
    {
        <h1>User is not authenticated</h1>
    }
</div>
</body>
</html>