@model string

@{
    Layout = null;
    var url = $"/OAuth/Authorize{Model}";
}

<!DOCTYPE html>
@Model
<html>
<head>
    <title>Authorize</title>
</head>
<body>
<div>
    Authorize
    <form action="@url" method="post">
        <input type="text" name="username" value=""/>
        <input type="submit" value="submit"/>
    </form>
</div>
</body>
</html>