@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Registration</title>
</head>
<body>
<div>
    <h1>Registration page</h1>
    <form action="/Home/Register" method="post">
        <input type="text" name="username" value=""/>
        <input type="text" name="password" value=""/>
        <input type="text" name="role" value=""/>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>